---
import "../styles/Header.sass"
const { pageTitle = "6ixarchive" } = Astro.props;
---

<header>
  <h2 class="page-title">{pageTitle}</h2>
  <input name="" id="" placeholder="search" type="text" />
</header>